<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Ecrire une nouvelle publication..." %>
  </div>
  <div class='center'>
    <br /><%= f.submit "Publier", class: "btn btn-large btn-primary" %>
  </div>
<% end %>